# Titanic survuval prediction

## Download titanic survival dataset from Kaggle

In [5]:
import opendatasets as od

dataset_url= 'https://www.kaggle.com/c/titanic/data'
dataset_path = './data'

od.download(dataset_url, data_dir=dataset_path)

Downloading titanic.zip to ./data\titanic

100%|██████████| 34.1k/34.1k [00:00<00:00, 612kB/s]

Extracting archive ./data\titanic/titanic.zip to ./data\titanic

## Read and describe the data

In [6]:
import os
import pandas as pd

titanic_data = pd.read_csv(os.path.join(dataset_path, 'titanic', 'train.csv'))
titanic_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

## Create binary classifier

In [ ]:
import tensorflow as tf

titanic_model = tf.keras.model.sequential([
    tf.keras.layers.Dense(32, activation='relu', input_shape=(6)),
    tf.keras.layers.Dropout(0.25),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

titanic_model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['binary_accuracy'])